.panel-hawk .panel-body {
  padding: 0px;
}

.panel-hawk  .panel-heading{
  padding: 5px 15px;
  cursor: move;
  font-weight: bold;
  color: #4c4c4c;
}


.panel-hawk > .panel-heading:hover, 
.panel-hawk > .panel-heading:focus{
  background-color: #7c7bad;
  color: #fff;
}

.panel-hawk{
  position: absolute;
  margin:0px;
}

.panel-hawk .panel-body{
  width:300px; 
  height:300px; 
  overflow:auto;
}

.map-info{
	color: #fff;
}

.o_pad_object_list li.selected > a:before {
    font-family: FontAwesome;
    position: absolute;
    left: 6px;
    content: "\f00c";
}

.o_pad_object_list  li.selected > a {
    color: #333333; 
    font-weight: bold; 
}
