.panel-hawk{
  position: absolute;
  margin:0px;
  z-index:100;
}

.panel-hawk .panel-body {
  padding: 0px;
  overflow:auto;
}

.panel-hawk  .panel-heading{
  padding: 5px 15px;
  cursor: move;
  font-weight: bold;
  color: #4c4c4c;
}


.panel-hawk > .panel-heading:hover, 
.panel-hawk > .panel-heading:focus{
  background-color: #7c7bad;
  color: #fff;
}

.map-info{
	color: #fff;
}

.o_pad_object_list li.selected > a:before {
    font-family: FontAwesome;
    position: absolute;
    left: 6px;
    content: "\f00c";
}

.o_pad_object_list  li.selected > a {
    color: #333333; 
    font-weight: bold; 
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu {
    line-height: normal;
}
